---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mediamanager-config
  namespace: default
data:
  config.toml: |
    [misc]
    frontend_url = "https://media.ragas.cc"
    cors_urls = ["https://media.ragas.cc"]
    image_directory = "/app/config/images"
    tv_directory = "/media/tv"
    movie_directory = "/media/movies"
    torrent_directory = "/media/downloads"
    development = false

    [[misc.tv_libraries]]
    name = "TV Shows"
    path = "/media/tv"

    [[misc.movie_libraries]]
    name = "Movies"
    path = "/media/movies"

    [database]
    host = "postgres.database.svc.cluster.local"
    port = 5432
    user = "tipi"
    dbname = "mediamanager"

    [auth]
    email_password_resets = false
    session_lifetime = 86400
    admin_emails = ["admin@ragas.cc"]

    [auth.openid_connect]
    enabled = false

    [notifications]
    [notifications.smtp_config]
    smtp_host = ""
    smtp_port = 587
    smtp_user = ""
    smtp_password = ""
    from_email = ""
    use_tls = true

    [notifications.email_notifications]
    enabled = false
    emails = []

    [notifications.gotify]
    enabled = false
    api_key = ""
    url = ""

    [notifications.ntfy]
    enabled = false
    url = ""

    [notifications.pushover]
    enabled = false
    api_key = ""
    user = ""

    [torrents]
    [torrents.qbittorrent]
    enabled = true
    host = "http://172.16.1.32"
    port = 8080
    username = "admin"
    password = ""

    [torrents.transmission]
    enabled = false
    username = ""
    password = ""
    https_enabled = false
    host = ""
    port = 9091
    path = "/transmission/rpc"

    [torrents.sabnzbd]
    enabled = false
    host = ""
    port = 8080
    api_key = ""
    base_path = "/api"

    [indexers]
    [indexers.prowlarr]
    enabled = true
    url = "http://prowlarr.default.svc.cluster.local:9696"
    api_key = ""
    timeout_seconds = 60

    [indexers.jackett]
    enabled = false
    url = ""
    api_key = ""
    indexers = []
    timeout_seconds = 60

    [[indexers.title_scoring_rules]]
    name = "prefer_h265"
    keywords = ["h265", "hevc", "x265", "h.265", "x.265"]
    score_modifier = 100
    negate = false

    [[indexers.title_scoring_rules]]
    name = "avoid_cam"
    keywords = ["cam", "ts", "hdcam"]
    score_modifier = -10000
    negate = false

    [[indexers.indexer_flag_scoring_rules]]
    name = "prefer_freeleech"
    flags = ["freeleech", "freeleech75"]
    score_modifier = 100
    negate = false

    [[indexers.indexer_flag_scoring_rules]]
    name = "reject_nuked"
    flags = ["nuked"]
    score_modifier = -10000
    negate = false

    [[indexers.scoring_rule_sets]]
    name = "default"
    libraries = ["ALL_TV", "ALL_MOVIES"]
    rule_names = ["prefer_h265", "avoid_cam", "reject_nuked", "prefer_freeleech"]

    [metadata]
    [metadata.tmdb]
    tmdb_relay_url = "https://metadata-relay.dorninger.co/tmdb"
    primary_languages = [""]
    default_language = "en"

    [metadata.tvdb]
    tvdb_relay_url = "https://metadata-relay.dorninger.co/tvdb"
