---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mediamanager
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: default
  values:
    controllers:
      mediamanager:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/maxdorninger/mediamanager/mediamanager
              tag: latest
            env:
              TZ: America/Los_Angeles
              CONFIG_DIR: /app/config
            envFrom:
              - secretRef:
                  name: mediamanager-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 8000
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                add: ["CHOWN", "SETGID", "SETUID", "DAC_OVERRIDE", "FOWNER"]

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      tolerations:
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist

    service:
      app:
        controller: mediamanager
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: mediamanager-config
        globalMounts:
          - path: /app/config
      config-file:
        enabled: true
        type: configMap
        name: mediamanager-config
        globalMounts:
          - path: /app/config/config.toml
            subPath: config.toml
            readOnly: true
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: mediamanager-config
        globalMounts:
          - path: /data/images
            subPath: images
      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-nfs
        globalMounts:
          - path: /media
