---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: prowlarr
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - prowlarr.ragas.cc
  rules:
    - backendRefs:
        - name: prowlarr
          port: 9696
