---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: minio
  namespace: flux-system
spec:
  targetNamespace: backup
  commonMetadata:
    labels:
      app.kubernetes.io/name: minio
  path: ./kubernetes/apps/backup/minio/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  timeout: 5m
  decryption:
    provider: sops
    secretRef:
      name: sops-age
