---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci(github-actions)"
    labels:
      - area/ci
      - dependencies
    groups:
      github-actions:
        patterns:
          - "*"
    open-pull-requests-limit: 10
