---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-maintenance
  namespace: default
spec:
  interval: 1h
  path: ./kubernetes/apps/default/cluster-maintenance/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: true
