---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: reloader
spec:
  interval: 1h
  path: ./kubernetes/apps/kube-system/reloader/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: kube-system
  wait: false
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: reloader
      namespace: kube-system
