---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: flux-system
spec:
  interval: 30m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        name: flux-image-automation
        email: flux@ragas.cc
      messageTemplate: |
        chore(container): update images
        
        Automated image update
    push:
      branch: main
  update:
    path: ./kubernetes
    strategy: Setters
