---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: huntarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: default
  values:
    controllers:
      huntarr:
        replicas: 1
        containers:
          app:
            image:
              repository: docker.io/huntarr/huntarr
              tag: 9.3.6 # {"$imagepolicy": "flux-system:huntarr:tag"}
            env:
              TZ: America/Los_Angeles
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: 9705
                  initialDelaySeconds: 5
                  periodSeconds: 5
                  failureThreshold: 60
                  timeoutSeconds: 1
            ports:
              - name: http
                containerPort: 9705
                protocol: TCP
            resources:
              requests:
                cpu: 25m
                memory: 512Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
      tolerations:
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist

    service:
      app:
        controller: huntarr
        ports:
          http:
            port: 9705

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: huntarr-config
        globalMounts:
          - path: /config
