---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: huntarr-config-v2
  namespace: default
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: ceph-block
