apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ceph-csi-rbd
  namespace: ceph-csi
spec:
  interval: 30m
  chart:
    spec:
      chart: ceph-csi-rbd
      version: "3.12.x"
      sourceRef:
        kind: HelmRepository
        name: ceph-csi
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    csiConfig:
      - clusterID: "ceph-cluster"
        monitors:
          - "172.16.1.2:6789"
          - "172.16.1.3:6789"
          - "172.16.1.4:6789"
    
    storageClass:
      create: true
      name: ceph-rbd
      clusterID: ceph-cluster
      pool: vm-storage
      reclaimPolicy: Retain
      allowVolumeExpansion: true
      mountOptions: []
      # Set as default storage class
      annotations:
        storageclass.kubernetes.io/is-default-class: "true"
    
    secret:
      create: true
      name: csi-rbd-secret
      # These will be overridden by the secret below
      userID: admin
      userKey: ""
    
    provisioner:
      replicaCount: 2
