---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "request.ragas.sh"
      recordType: CNAME
      targets: ["30286f86-9062-47bd-92f2-80d94cdb17b0.cfargotunnel.com"]
