---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
spec:
  interval: 30m
  chart:
    spec:
      chart: minio
      version: 5.3.0
      sourceRef:
        kind: HelmRepository
        name: minio
        namespace: backup
  values:
    mode: standalone

    existingSecret: minio-credentials

    persistence:
      enabled: true
      existingClaim: backup-nfs
      storageClass: ""
      volumeName: ""

    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

    service:
      type: ClusterIP

    consoleService:
      type: ClusterIP

    buckets:
      - name: velero
        policy: none
        purge: false

    securityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0

    tolerations:
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 30
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 30
