---
# Source-of-truth for talhelper (used by Taskfile: `task talos:*`).
# Generated machine configs are written to talos/clusterconfig/ (gitignored).
#
# Manual fallback for adding nodes:
#   talosctl -n 172.16.1.53 get machineconfig -o jsonpath='{.spec}'

clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://172.16.1.49:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "172.16.1.49"
  - "talos.ragas.cc"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "talos-cp-1"
    ipAddress: "172.16.1.50"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:62:66:6e"
        dhcp: false
        addresses:
          - "172.16.1.50/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
        vip:
          ip: "172.16.1.49"
  - hostname: "talos-cp-2"
    ipAddress: "172.16.1.51"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:b1:7a:ad"
        dhcp: false
        addresses:
          - "172.16.1.51/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
        vip:
          ip: "172.16.1.49"
  - hostname: "talos-cp-3"
    ipAddress: "172.16.1.52"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:4a:05:82"
        dhcp: false
        addresses:
          - "172.16.1.52/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
        vip:
          ip: "172.16.1.49"
  - hostname: "talos-worker-1"
    ipAddress: "172.16.1.53"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:45:62:22"
        dhcp: false
        addresses:
          - "172.16.1.53/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
  - hostname: "talos-worker-2"
    ipAddress: "172.16.1.54"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:a4:b6:e5"
        dhcp: false
        addresses:
          - "172.16.1.54/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
  - hostname: "talos-worker-3"
    ipAddress: "172.16.1.55"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:f9:19:f1"
        dhcp: false
        addresses:
          - "172.16.1.55/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500
  - hostname: "talos-worker-4"
    ipAddress: "172.16.1.56"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/376567988ad370138ad8b2698212367b8edcb69b5fd68c80be1f2ec7d603b4ba
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:9d:3a:4f"
        dhcp: false
        addresses:
          - "172.16.1.56/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.16.1.1"
        mtu: 1500

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

