---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: agregarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: default
  values:
    controllers:
      agregarr:
        replicas: 1
        containers:
          app:
            image:
              repository: docker.io/agregarr/agregarr
              tag: v2.4.0 # {"$imagepolicy": "flux-system:agregarr:tag"}
            env:
              TZ: America/Los_Angeles
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 7171
                  initialDelaySeconds: 5
                  periodSeconds: 5
                  failureThreshold: 60
                  timeoutSeconds: 1
            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      tolerations:
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 30
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist

    service:
      app:
        controller: agregarr
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: agregarr-config
        globalMounts:
          - path: /app/config
