---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
spec:
  interval: 30m
  chart:
    spec:
      chart: velero
      version: 8.2.0
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu
        namespace: backup
  values:
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.13.1
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins

    credentials:
      useSecret: true
      existingSecret: velero-minio-credentials

    configuration:
      backupStorageLocation:
        - name: default
          provider: aws
          bucket: velero
          config:
            region: us-east-1
            s3ForcePathStyle: "true"
            s3Url: http://minio.backup.svc.cluster.local:9000

      volumeSnapshotLocation:
        - name: csi
          provider: csi

      features: EnableCSI

      defaultBackupStorageLocation: default

    deployNodeAgent: true

    nodeAgent:
      resources:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          cpu: 1000m
          memory: 1Gi

    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

    kubectl:
      image:
        repository: bitnami/kubectl
        tag: "1.31"

    schedules:
      daily-backup:
        disabled: false
        schedule: "0 3 * * *"
        useOwnerReferencesInBackup: false
        template:
          ttl: "168h"
          includedNamespaces:
            - default
            - database
            - monitoring
          snapshotVolumes: true
          storageLocation: default
          volumeSnapshotLocations:
            - csi
