---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  chart:
    spec:
      chart: loki
      version: 6.49.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  values:
    deploymentMode: SingleBinary

    loki:
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      storage:
        type: filesystem
      schemaConfig:
        configs:
          - from: "2026-01-01"
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: index_
              period: 24h

    singleBinary:
      replicas: 1
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 1Gi
      persistence:
        enabled: true
        size: 10Gi
        storageClass: ceph-block

    read:
      replicas: 0
    write:
      replicas: 0
    backend:
      replicas: 0

    gateway:
      enabled: false

    chunksCache:
      enabled: false

    resultsCache:
      enabled: false

    lokiCanary:
      enabled: false

    test:
      enabled: false
