---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
    namespace: flux-system
  interval: 1h
  values:
    serviceMonitor:
      create: true
