---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 30m
  chart:
    spec:
      chart: homepage
      version: 2.1.0
      sourceRef:
        kind: HelmRepository
        name: jameswynn
  values:
    image:
      repository: ghcr.io/gethomepage/homepage
      tag: v1.10.1 # {"$imagepolicy": "flux-system:homepage:tag"}

    enableRbac: true

    serviceAccount:
      create: true
      name: homepage

    controller:
      replicas: 2

    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        memory: 512Mi

    tolerations:
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 30
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 30

    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: homepage
            topologyKey: kubernetes.io/hostname

    persistence:
      custom-css:
        enabled: true
        type: configMap
        name: homepage-custom-css
        mountPath: /app/config/custom.css
        subPath: custom.css
        readOnly: true

    command:
      - /bin/sh
      - -c
      - rm -f /app/.next/server/pages/en.html /app/.next/server/pages/en.json && node /app/server.js

    env:
      HOMEPAGE_ALLOWED_HOSTS: "home.ragas.cc,homepage.default.svc.cluster.local"

    envFrom:
      - secretRef:
          name: homepage-config

    service:
      main:
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: false

    config:
      kubernetes:
        mode: cluster

      bookmarks:
        - Developer:
            - Github:
                - abbr: GH
                  href: https://github.com/
        - Social:
            - Reddit:
                - abbr: RE
                  href: https://reddit.com/
        - Entertainment:
            - YouTube:
                - abbr: YT
                  href: https://youtube.com/

      services:
        - Hypervisor:
            - Server-1:
                icon: proxmox.svg
                href: https://172.16.1.2:8006
                description: pve1
                ping: 172.16.1.2
                widget:
                  type: proxmox
                  url: https://172.16.1.2:8006
                  username: "{{HOMEPAGE_VAR_PROXMOX_USER}}"
                  password: "{{HOMEPAGE_VAR_PROXMOX_PASS}}"
                  node: pve1
            - Server-2:
                icon: proxmox.svg
                href: https://172.16.1.3:8006
                description: pve2
                ping: 172.16.1.3
                widget:
                  type: proxmox
                  url: https://172.16.1.3:8006
                  username: "{{HOMEPAGE_VAR_PROXMOX_USER}}"
                  password: "{{HOMEPAGE_VAR_PROXMOX_PASS}}"
                  node: pve2
            - Server-3:
                icon: proxmox.svg
                href: https://172.16.1.4:8006
                description: pve3
                ping: 172.16.1.4
                widget:
                  type: proxmox
                  url: https://172.16.1.4:8006
                  username: "{{HOMEPAGE_VAR_PROXMOX_USER}}"
                  password: "{{HOMEPAGE_VAR_PROXMOX_PASS}}"
                  node: pve3
            - Server-4:
                icon: proxmox.svg
                href: https://172.16.1.5:8006
                description: pve4
                ping: 172.16.1.5
                widget:
                  type: proxmox
                  url: https://172.16.1.5:8006
                  username: "{{HOMEPAGE_VAR_PROXMOX_USER}}"
                  password: "{{HOMEPAGE_VAR_PROXMOX_PASS}}"
                  node: pve4
        - Storage:
            - Volume-1:
                icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/synology-light.svg
                href: https://172.16.1.250:5001/
                description: Backup
                ping: 172.16.1.250
                widget:
                  type: diskstation
                  url: https://172.16.1.250:5001/
                  username: "{{HOMEPAGE_VAR_NAS_USER}}"
                  password: "{{HOMEPAGE_VAR_NAS_PASS}}"
                  volume: volume_1
            - Volume-2:
                icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/synology-light.svg
                href: https://172.16.1.250:5001/
                description: Media
                ping: 172.16.1.250
                widget:
                  type: diskstation
                  url: https://172.16.1.250:5001/
                  username: "{{HOMEPAGE_VAR_NAS_USER}}"
                  password: "{{HOMEPAGE_VAR_NAS_PASS}}"
                  volume: volume_2
            - PBS:
                icon: proxmox.svg
                href: https://172.16.1.12:8007/
                description: Proxmox Backup
                ping: 172.16.1.12
                widget:
                  type: proxmoxbackupserver
                  url: https://172.16.1.12:8007
                  username: "{{HOMEPAGE_VAR_PBS_USER}}"
                  password: "{{HOMEPAGE_VAR_PBS_PASS}}"

        - Media:
            - Plex:
                icon: plex.svg
                href: https://plex.ragas.sh
                description: Media Server
                ping: 172.16.1.33
                widget:
                  type: plex
                  url: https://plex.ragas.sh
                  key: "{{HOMEPAGE_VAR_PLEX_KEY}}"
            - Jellyfin:
                icon: jellyfin.svg
                href: http://172.16.1.30:8096
                description: Jellyfin
                ping: 172.16.1.30
                widget:
                  type: jellyfin
                  url: http://172.16.1.30:8096
                  key: "{{HOMEPAGE_VAR_JELLYFIN_KEY}}"
                  enableBlocks: true
                  enableNowPlaying: true
                  enableUser: true
            - Tautulli:
                icon: tautulli.svg
                href: http://172.16.1.33:8181
                description: Plex stats
                ping: 172.16.1.33
                widget:
                  type: tautulli
                  url: http://172.16.1.33:8181
                  key: "{{HOMEPAGE_VAR_TAUTULLI_KEY}}"

        - Requests:
            - Seerr:
                icon: overseerr.svg
                href: https://request.ragas.sh
                description: Media Requests
                widget:
                  type: overseerr
                  url: http://seerr.default.svc.cluster.local:5055
                  key: "{{HOMEPAGE_VAR_OVERSEERR_KEY}}"

        - Media Management:
            - Sonarr:
                icon: sonarr.svg
                href: https://sonarr.ragas.cc
                description: TV Shows
                widget:
                  type: sonarr
                  url: http://sonarr.default.svc.cluster.local:8989
                  key: "{{HOMEPAGE_VAR_SONARR_KEY}}"
            - Radarr:
                icon: radarr.svg
                href: https://radarr.ragas.cc
                description: Movies
                widget:
                  type: radarr
                  url: http://radarr.default.svc.cluster.local:7878
                  key: "{{HOMEPAGE_VAR_RADARR_KEY}}"
            - Prowlarr:
                icon: prowlarr.svg
                href: https://prowlarr.ragas.cc
                description: Indexers
                widget:
                  type: prowlarr
                  url: http://prowlarr.default.svc.cluster.local:9696
                  key: "{{HOMEPAGE_VAR_PROWLARR_KEY}}"
        - Network:
            - OpnSense:
                icon: opnsense.svg
                href: http://172.16.1.1/
                description: Firewall
                ping: 172.16.1.1
                widget:
                  type: opnsense
                  url: https://172.16.1.1/
                  username: "{{HOMEPAGE_VAR_OPNSENSE_USER}}"
                  password: "{{HOMEPAGE_VAR_OPNSENSE_PASS}}"
            - Adguard:
                icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/adguard-home.svg
                href: https://172.16.1.11
                description: Adblocker
                ping: 172.16.1.11
                widget:
                  type: adguard
                  url: https://172.16.1.11
                  username: "{{HOMEPAGE_VAR_ADGUARD_USER}}"
                  password: "{{HOMEPAGE_VAR_ADGUARD_PASS}}"
            - qBittorrent:
                icon: qbittorrent.svg
                href: http://172.16.1.32:8080
                description: Downloads
                ping: 172.16.1.32
                widget:
                  type: qbittorrent
                  url: http://172.16.1.32:8080
                  username: "{{HOMEPAGE_VAR_QBIT_USER}}"
                  password: "{{HOMEPAGE_VAR_QBIT_PASS}}"
                  fields:
                    - download
                    - upload
            - Speedtest:
                icon: si-speedtest
                href: https://speed.ragas.cc
                description: Network Speed
                widget:
                  type: speedtest
                  url: http://speedtest-tracker.default.svc.cluster.local
            - Uptime-Kuma:
                icon: uptime-kuma.svg
                href: http://172.16.1.249:3001
                description: Monitoring
                ping: 172.16.1.249
                widget:
                  type: uptimekuma
                  url: http://172.16.1.249:3001
                  slug: 1
            - Unifi:
                icon: unifi.svg
                href: https://172.16.1.253:8443
                description: Network
                ping: 172.16.1.253
                widget:
                  type: unifi
                  url: https://172.16.1.253:8443
                  site: home
                  username: "{{HOMEPAGE_VAR_UNIFI_USER}}"
                  password: "{{HOMEPAGE_VAR_UNIFI_PASS}}"

      widgets:
        - search:
            provider: google
            target: _blank
        - datetime:
            text_size: xl
            format:
              timeStyle: short
              dateStyle: long
        - openweathermap:
            label: San Mateo
            units: metric
            provider: openweathermap
            apiKey: "{{HOMEPAGE_VAR_WEATHER_KEY}}"
            cache: 5
        - kubernetes:
            cluster:
              show: true
              cpu: true
              memory: true
              showLabel: true
              label: "Cluster"
            nodes:
              show: true
              cpu: true
              memory: true
              showLabel: true

      settings:
        title: "Sagar's Homelab"
        favicon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/heimdall.png
        background:
          image: https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=1920&q=80
          blur: md
          saturate: 80
          brightness: 40
          opacity: 60
        theme: dark
        color: slate
        disableCollapse: true
        useEqualHeights: true
        headerStyle: clean
        hideVersion: true
        showStats: true
        statusStyle: dot
        hideErrors: false
        cardBlur: xl
        layout:
          - Hypervisor:
              header: true
              style: row
              columns: 4
              icon: proxmox.svg
          - Storage:
              header: true
              style: row
              columns: 3
              icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/synology-light.svg
          - Media:
              header: true
              style: row
              columns: 3
              icon: plex.svg
          - Requests:
              header: true
              style: row
              columns: 1
              icon: overseerr.svg
          - Media Management:
              header: true
              style: row
              columns: 3
              icon: sonarr.svg
          - Network:
              header: true
              style: row
              columns: 3
              icon: ubiquiti.svg

