---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgres
spec:
  interval: 30m
  chart:
    spec:
      chart: postgresql
      version: 16.4.1
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: database
  values:
    auth:
      database: speedtest-tracker
      username: tipi
      existingSecret: postgres-secret
      secretKeys:
        adminPasswordKey: postgres-password
        userPasswordKey: password

    primary:
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 1Gi

      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
