---
name: Flux Diff

on:
  pull_request:
    branches: [main]
    paths:
      - kubernetes/**

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  flux-diff:
    name: Flux Diff
    runs-on: ubuntu-latest
    # Non-blocking - informational only, failures shouldn't block PRs
    continue-on-error: true
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resource:
          - helmrelease
          - kustomization
    steps:
      - name: Checkout PR
        uses: actions/checkout@v6
        with:
          path: pr

      - name: Checkout default branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.repository.default_branch }}
          path: live

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main

      - name: Diff resources
        uses: allenporter/flux-local/action/diff@main
        id: diff
        with:
          live-branch: main
          path: kubernetes/flux
          resource: ${{ matrix.resource }}

      - name: Add comment
        if: ${{ steps.diff.outputs.diff != '' }}
        uses: mshick/add-pr-comment@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-id: flux-diff-${{ matrix.resource }}
          message-failure: Unable to post Flux diff
          message: |
            ### Flux ${{ matrix.resource }} diff

            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
