---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./cloudflare-dns/ks.yaml  # External DNS for cert-manager DNS-01 challenge
  # - ./cloudflare-tunnel/ks.yaml  # Disabled - local access only
  - ./envoy-gateway/ks.yaml
  - ./k8s-gateway/ks.yaml
